@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 18px;
  color: #333;
}
a{
  text-decoration: none;
  display: block;
}
.cont {
  float: left;
  width: 400px;
  height: 200px;
}

.cont ul {
  float: left;
  width: 100px;
  height: 30px;
  border: 1px solid #ddd;
  background: #f0f0f0;
}

.cont ul li {
  float: left;
  width: 400px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.cont ul li:last-child {
  border-right: none;
}

.cont ul li.active {
  background-color: #4caf50;
  color: #fff;
}

.content {
  display: none;
  padding: 10px;
}

.content.active {
  display: block;
}

.notice li, .gallery li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.gallery img {
  width: 100px;
  height: 100px;
  margin: 5px;
}