@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.cont1 {
    width: 420px;
    height: 300px;
    border: 2px solid #999;
    border-radius: 5px;
}

.tmenu {
    float: left;
    width: 140px;
    height: 40px;
}

.tmenu a {
    display: block;
    line-height: 40px;
    text-align: center;
}

.tmenu.current a {
    background-color: #bbb;
    color: red;
}

.tabcont {
    clear: both;
    display: none;
    width: 100%;
    height: 260px;
    background-color: #ccc;
}

.tabcont.current {
    display: block;
}

/* 공지사항 */
.gongji {
    width: 390px;
    height: 190px;
    margin: 5px;
}

.gongji li {
    width: 100%;
    height: 36px;
}

.gongji li a {
    display: block;
    line-height: 36px;
    width: 250px;
    float: left;
    text-indent: 20px;
}

.gongji li a:hover {
    color: #f00;
}

.gongji li span {
    width: 140px;
    float: right;
    line-height: 36px;
}

/* 갤러리 */
.gallery {
    width: 410px;
    height: 190px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.gallery li {
    width: 130px;
    height: 120px;
    margin-top: 35px;
}

.gallery li img {
    width: 100%;
}