@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  font-family: "맑은 고딕";
  color: #333;
  list-style: none;
}
body{
  width: 1200px;
  background-color: #fff;
  font-size: 20px;
}
a{
  text-decoration: none;
  display: block;
}
header{
  width: 1200px;
  height: 100px;
  position: relative;
}
.top{
  width: 1200px;
  height: 100px;
  position: absolute;
}
.logo{
  float: left;
  width: 250px;
  height: 100px;
}
.logo img{
  float: left;
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-left: 15px;
}
.menu{
  float: left;
  width: 800px;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 1;
}
.navi>li{
  float: left;
  width: 200px;
  background-color: #5e175e;
}
.navi>li>a{
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.navi>li:hover{
  background-color: #c946c9;
}
.submenu{
  display: none;
}
.submenu>li{
  width: 200px;
  background-color: #c831f9;
}
.submenu>li>a{
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.submenu>li:hover{
  background-color: #c9463d;
}
.bodywrap{
  width: 1200px;
  height: 500px;
}
.imgslide{
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.imgslide>a{
  display: block;
  position: absolute;
}
.imgtext{
  width: 500px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  left: 30%;
  top: 35%;
  position: absolute;
}
.contents{
  width: 1200px;
  height: 200px;
  position: absolute;
}
.tabmenu{
  float: left;
  width: 395px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.tabmenu>li{
  float: left;
  width: 100px;
  line-height: 30px;
}
.tabmenu>li>a{
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ddd;
  border-bottom: none;
}
.tabmenu>li>a:hover{
  background-color: #ccc;
}
.tabmenu>li:first-child a{
  border-right: none;
}
.tabmenu>li.active>a{
  background-color: #fff;
}
.tabmenu>li div{
  position: absolute;
  left: 0px;
  height: 0px;
  overflow: hidden;
  /* top: 40px; */
}
.tabmenu>li.active div{
  width: 393px;
  height: 148px;
  border: 1px solid #ddd;
  z-index: 1;
}
.notice ul{
  float: left;
  width: 393px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.notice li{
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.notice li:nth-child(2n){
  background-color: #ccc;
}
.notice li span{
  float: right;
}
.notice li:hover{
  font-weight: bold;
}
.gallery li{
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
.gallery img{
  width: 100px;
  height: 100px;
  padding: 10px;
}
.gallery li:hover{
  opacity: 0.5;
}
.otherwrap{
  float: right;
  width: 800px;
  height: 200px;
}
.banner{
  float: left;
  width: 400px;
  height: 200px;
  position: relative;
}
.banner span{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  top: 80px;
  left: 100px;
  position: absolute;
}
.banner span:hover{
  opacity: 0.5;
}
.shortcut{
  float: right;
  width: 400px;
  height: 200px;
  position: relative;
}
.shortcut span{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  top: 80px;
  left: 100px;
  position: absolute;
}
.shortcut span:hover{
  opacity: 0.5;
}
#modal{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: none;
}
#modal.active{
  display: block;
}
.modal_up{
  width: 500px;
  height: 400px;
  position: fixed;
  left: 40%;
  top: 30%;
  border: 3px solid #5e175e;
  background-color: #fff;
}
.uptitle{
  margin-top: 30px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
}
.upbody{
  padding: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
.btn{
  width: 80px;
  height: 20px;
  background-color: #eee;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
footer{
  width: 1200px;
  height: 100px;
  background-color: indianred;
}
.btlogo{
  float: left;
  width: 250px;
  height: 100px;
}
.btlogo img{
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.copy{
float: left;
width: 600px;
height: 100px;
text-align: center;
line-height: 100px;
}
.sns{
  float: right;
  width: 250px;
  height: 100px;
  margin-right: 10px;
}
.sns li{
  float: left;
  margin: 10px;
  margin-top: 20px;
}
.sns img{
  width: 60px;
  height: 60px;
}