@charset 'utf-8';

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    color: #333;
    font-family: 'arial';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* layout */
#wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: #eee;
}

#header {
    height: 100px;
    background-color: #555;
}

#visual {
    height: 550px;
}

#container {
    height: 200px;
    background-color: #444;
}

#footer {
    height: 100px;
    background-color: #666;
}

/* visual */
.banner {
    width: 1200px;
    height: 550px;
    text-align: center;
    overflow: hidden;
}

.slideList {
    position: relative;
    width: 3600px;
    height: 550px;
}

.slideList .slideImg {
    float: left;
    position: relative;
    width: 1200px;
    height: 550px;
}

.slideList .slideImg h2 {
    position: absolute;
    padding: 5px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
}

.slideList .slideImg img {
    display: block;
    width: 1200px;
    height: auto;
}