@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
}
html,body{
  min-width: 1200px;
  background-color: #fff;
  font-size: 20px;
}
a{
  text-decoration: none;
  display: block;
}
header{
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
}
.wrap{
  width: 1200PX;
  height: 100PX;
}
.logo{
  float: left;
  width: 200px;
  height: 100px;
}
.logo img{
  width: 180px;
  height: 80px;
  margin: 10px;
}
.menu{
  float: right;
  width: 800px;
  height: 75px;
  position: relative;
  padding-top: 25px;
  position: relative;
}
.navi>li{
  float: right;
  width: 200px;
  height: 50px;
}
.navi>li>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #eee;
}
.navi>li>a:hover{
  background-color: #ddd;
}
.submenu{
  display: none;
  z-index: 1;
  position: absolute;
}
.submenu>li>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #eee;
}
.submenu>li>a:hover{
  background-color: #ddd;
}
.bodywrap{
  width: 1200px;
  height: 500px;
}
.imgslide{
  width: 1200px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slidelist{
  height: 900px;
}
.slidelist ul li{
  height: 300px;
  float: left;
  position: relative;
}
.slidelist span{
  width: 400px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 125px;
  left: 400px;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  font-weight: bold;
}
.contents{
  float: left;
  width: 1200px;
  height: 200px;
}
.tabmenu{
  float: left;
  width: 400px;
  height: 200px;
  position: relative;
  margin-top: 5px;
}
.tabmenu>li{
  float: left;
  width: 80px;
  line-height: 30px;
}
.tabmenu>li>a{
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-bottom: none;
}
.tabmenu>li>a:hover{
  background-color: #eee;
}
.tabmenu>li:first-child a{
  border-right: none;
}
.tabmenu>li.active>a{
  background-color: #fff;
}
.tabmenu>li div{
  top: 0px;
  height: 0px;
  top: 30px;
  position: absolute;
  overflow: hidden;
}
.tabmenu>li.active div{
  z-index: 1;
  width: 380px;
  height: 140px;
  border: 1px solid #ddd;
}
.notice{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.notice li a{
  width: 380px;
  line-height: 30px;
  font-size: 16px;
}
.notice span{
  float: right;
}
.notice li:hover{
  font-weight: bold;
}
.gallery{
  left: 0;
}
.gallery li{
  float: left;
  margin-top: 15px;
}
.gallery img{
  width: 80px;
  height: 80px;
  padding: 20px;
}
.gallery img:hover{
  opacity: 0.5;
}
.banner{
  float: left;
  width: 400px;
  height: 200px;
  position: relative;
}
.banner img{
  width: 380px;
  height: 180px;
  margin: 10px;
}
.banner span{
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  position: absolute;
  left: 145px;
  top: 70px;
}
.banner img:hover{
  opacity: 0.5;
}
.shortcut{
  float: right;
  width: 400px;
  height: 200px;
  position: relative;
}
.shortcut img{
  width: 380px;
  height: 180px;
  margin: 10px;
}
.shortcut span{
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(40,40,40,0.5);
  color: #fff;
  position: absolute;
  left: 145px;
  top: 70px;
}
.shortcut img:hover{
  opacity: 0.5;
}
#layer{
  top: 0px;
  left: 0px;
  z-index: 1;
  display: none;
}
#layer.active{
  display: block;
}
.layer_up{
  position: fixed;
  width: 400px;
  height: 300px;
  background-color: #fff;
  top: 30%;
  left: 40%;
}
.uptitle{
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
}
.upbody{
  margin: 20px;
  font-size: 15px;
  line-height: 30px;
}
.btn{
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;
  right: 10px;
  bottom: 10px;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
footer{
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
}
.btlogo{
  float: left;
  width: 200px;
  height: 100px;
}
.btlogo img{
  width: 180px;
  height: 80px;
  margin: 10px;
}
.copy{
  float: left;
  width: 800px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
}
.sns{
  float: right;
  width: 200px;
  height: 100px;
}
.sns img{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-top: 25px;
}
.sns img:hover{
  opacity: 0.5;
}