@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  font-family: "맑은 고딕";
  list-style: none;
  color: #333;
}
body{
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  min-height: 820px;
  font-size: 20px;
  background-color: #fff;
}
a{
  text-decoration: none;
  display: block;
}
header{
  float: left;
  background-color: #171c61;
}
.top{
  float: left;
  width: 200px;
  height: calc(100vh - 100px);
  min-height: 720px;
}
.logo{
  float: left;
  width: 200px;
  height: 120px;
  margin-top: 30px;
}
.logo img{
  float: left;
  width: 180px;
  height: 100px;
  margin-left: 10px;
}
.menu{
  float: left;
  width: 190px;
  margin-left: 10px;
  text-align: center;
}
.navi>li{
  float: left;
  width: 190px;
  height: 50px;
}
.navi>li>a{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.navi>li>a:hover{
  background-color: #ffe200;
  color: #000;
}
.submenu{
  width: 100%;
  position: relative;
  top: -50px;
  left: 190px;
  display: none;
  z-index: 1;
}
.submenu>li>a{
  float: left;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
.submenu>li>a:hover{
  background-color: #ffe200;
  color: #000;
}
.bodywrap{
  float: right;
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  min-height: 720px;
}
.contents{
  float: left;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#banner{
  width: 100%;
  height: 130px;
}
#banner img {      
  float: left;
  width: 15%;
  height: auto;
  padding-top: 40px;
  padding-left: 5%;
  margin: 0px auto;
}
.bntext {
  float: left;
  width: 70%;
  height: auto;
  font-size: 16px;
  padding-top: 40px;
  padding-left: 5%;
}
.bntext:hover {
  font-weight: bold;
}
.notice{
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 12px;
}
.tab{
  float: left;
  width: 380px;
  height: 50px;
  border: 2px solid #eee;
}
.tab h4{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.notice li{
  width: 360px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.notice span{
  float: right;
}
.notice li:hover{
  font-weight: bold;
}
.gallery{
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
.gallery ul{
  
}
#shortcut{
  float: left;
  width: 100%;
  height: 90px;
}
.imgslide{
  float: right;
  width: calc(100% -400pxx);
  height: 100%;
}
footer{
  float: left;
  width: 100%;
  height: 100px;
}
.btlogo{
  float: left;
  width: 200px;
  height: 100px;
}
.copy{
  float: left;
  width: calc(100% -500px);
  height: 100px;
}
.sns{
  float: right;
  width: 270px;
}