@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #666;
}
body{
  min-width: 1340px;
  font-size: 20px;
  background-color: #fff;
}
a{
  text-decoration: none;
  display: block;
}
header{
  width: 1340px;
  height: 100px;
}
.wrap{
  width: 1340px;
  height: 100%;
  background-color: #eee;
}
.logo{
  float: left;
  width: 240px;
  height: 100px;
}
.logo img{
  float: left;
  width: 240px;
  height: 100px;
}
.menu{
  float: right;
  width: 800px;
  height: 100px;
  margin-right: 50px;
}
.navi>li{
  float: left;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}
.navi>li>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
}
.navi>li>a:hover{
  background-color: #ccc;
  color: #333;
}
.submenu{
  position: absolute;
  float: left;
  width: 200px;
  display: none;
  z-index: 3;
}
.submenu li{
  float: left;
  width: 200px;
  height: 50px;
}
.submenu>li>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #717171;
  color: #fff;
}
.submenu>li>a:hover{
  background-color: #eee;
  color: #333;
}
.imgslide{
  width: 100%;
  height: 350px;
  position: relative;
}
.imgslide img{
  display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.imgslide span{
  position: absolute;
  width: 450px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(40,40,40,0.6);
  font-weight: bold;
  color: #fff;
  left: 40%;
  top:30%;
}
.contents{
  width: 1340px;
  height: 550px;
  position: relative;
  margin-top: -100px;
}
.shortcut{
  float: left;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(120, 161, 231);
}
.shortcut img{
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.shortcut img:hover{
  opacity: 0.5;
}
.banner{
  float: left;
  width: 100%;
  height: 150px;
  position: relative;
}
.banner img{
  position: absolute;
  float: left;
  width: 1340px;
  height: 150px;
}
.banner span{
  position: absolute;
  width: 450px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(40,40,40,0.6);
  font-weight: bold;
  color: #fff;
  top: 30%;
  left: 40%;
}
.banner img:hover{
  opacity: 0.5;
}
.tabmenu{
  float: left;
  width: 100%;
  height: 300px;
}
.tabmenu>ul{
  padding-top: 20px;
}
.tabmenu>ul>li{
  float: left;
  width: 100px;
  line-height: 45px;
}
.tabmenu>ul>li>a{
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #ccc;
  border-bottom: none;
}
.tabmenu>ul>li>a:hover{
  background:#eee;
}
.tabmenu>ul>li:first-child{
  border-right: none;
}
.tabmenu>ul>li.active>a{
  background-color: #fff;
}
.tabmenu>ul>li div{
  position: absolute;
  left: 0px;
  height: 0px;
  overflow: hidden;
}
.tabmenu>ul>li.active div{
  height: 210px;
  width: 570px;
  border: 1px solid #ddd;
  z-index: 1;
}
.notice ul{
  float: left;
  width: 550px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.notice li{
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.notice li span{
  float: right;
}
.notice li:nth-child(2n){
  background-color: #ccc;
}
.notice li:hover{
  font-weight: bold;
}
.gallery ul{
  display: flex;
  justify-content: flex-start;
}
.gallery li{
  float: left;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  line-height: 25px;
}
.gallery img{
  width: 140px;
  height: 140px;
  padding: 5px;
}
.gallery img:hover{
  opacity: 0.5;
}
.gallery span{
  font-size: 16px;
}
footer{
  width: 1340px;
  height: 120px;
}
.btlogo{
  float: left;
  width: 240px;
  height: 100px;
}
.btlogo img{
  float: left;
  width: 240px;
  height: 100px;
  margin-top: 10px;
}
.btwrap{
  float: right;
  width: 1100px;
  height: 100%;
  line-height: 60px;
}
.btmenu{
  float: right;
  width: 1100px;
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
}
.btmenu li{
  display: inline;
}
.btmenu a{
  display: inline;
}
.btmenu li::after{
  content: "|";
}
.btmenu li:last-child::after{
  content: "";
}
.copy{
  float: right;
  width: 1100px;
  line-height: 50px;
}