@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    list-style: none;
}

.clearfix {
    display: block;
    clear: both;
    content: '';
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#wrap {
    width: 100%;
    height: 950px;
}

.left {
    width: 200px;
    float: left;
    background-color: rgb(78, 78, 236);
}

.right {
    width: calc(100% - 200px);
    float: left;
    background-color: rgb(255, 63, 63);
}

/* header */
header {
    background-color: #c5aafc;
    height: 850px;
}

.logo {
    width: 100%;
    height: 120px;
    background-color: #aafcd3;
}

.nav {
    width: 200px;
    float: none;
    margin-top: 50px;
}

.nav li {
    float: none;
    position: relative;
    width: 200px;
    background-color: #ddd;
    text-align: center;
}

.main a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #666;
}

.main:hover>a {
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
}

.main a .sub {
    display: none;
    position: absolute;
    top: 48px;
    left: 0px;
    background-color: #500;
    z-index: 999;
}

.main a .sub li {
    width: 200px;
    height: 50px;
}

.main .sub li:hover {
    background-color: #f60;
}

.main .sub li:hover a {
    color: #fff;
}

.info>ul {
    display: flex;
}
.login:after{
    content: '|';
}

/* slide & contents */
.slide {
    width: 100%;
    height: 400px;
    background-color: #eafcaa;
    overflow: hidden;
}

.contents {
    width: 100%;
    height: 450px;
    background-color: #aafcd3;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #fcaaf5;
}