@charset 'utf-8';

/* reset */
* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 16px;
    font-family: '돋음';
    background-color: #eee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* -------------------------------- */
/* layout */
#wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#header {
    height: 100px;
}

#visual {
    height: 400px;
    background-color: #f2f;
}

#container {
    height: 300px;
}

#banner {
    height: 200px;
}

#footer {
    height: 100px;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
}

#header .logo {
    width: 200px;
}

#header .logo a {
    display: block;
    text-align: center;
    line-height: 100px;
}


#header .nav {
    width: 600px;
    margin-top: 53px;
}

#header .nav li {
    float: left;
    position: relative;
    width: 25%;
}

#header .nav li a {
    /* display: block; */
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#header .nav li a:hover {
    background: #777;
}

#header .nav li .sub {
    display: none;
    position: absolute;
    left: 0;
    top: 47px;
    background-color: #555;
    z-index: 1;
}

#header .nav li .sub li {
    width: 100%;
    border-right: 0;
}

#header .nav li .sub li:hover {
    background: #888;
}
#header .sub-bg{
    display: none;
    position: absolute;
    top: 100px;
    width: 1200px;
    height: 188px;
    background-color: #212121;
}

/* #header .gnb {
    width: 1000px;
}
#header .gnb ul li {
    width: 25%;
    height: 40px;
    float: left;
}

#header .gnb ul li a {
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-top: 30px;
}

#header .gnb ul li a:hover {
    color: rgb(2, 116, 255);
} */

/* visual */
#visual .vtxt {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 400px;
}

/* container */
#container {
    display: flex;
    background-color: aquamarine;
}

#container div {
    width: 25%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-right: 0;
}

#container .cont1 {
    background-color: #ff0
}

#container .cont2 {
    background-color: paleturquoise;
}

#container .cont4 {
    background-color: palegreen;
    border-right: 2px solid #000;
}

/* banner */
#banner {
    display: flex;
    background-color: #ccc;
}

#banner div {
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-right: 0;
    border-top: 0;
}

#banner .ban3 {
    border-right: 2px solid #000;
}

/* footer */
#footer {
    display: flex;
}

#footer .flogo {
    width: 200px;
    line-height: 100px;
    text-align: center;
}

#footer .flogo a {
    display: block;
    font-size: 20px;
}

#footer .copy {
    width: 800px;
}

#footer .copy>p {
    text-align: center;
    line-height: 100px;
    font-size: 14px;
    color: #333;
}

#footer .sns {
    width: 200px;
}

#footer .sns ul {
    width: 200px;
    height: 100px;
}

#footer .sns ul li {
    width: 60px;
    margin: 15px 2px;
    float: left;
}

#footer .sns ul li img {
    width: 100%;
}