@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  font-family: "맑은 고딕";
  list-style: none;
  color: #333;
}
html,body{
  min-width: 1200px;
  background: #fff;
  font-size: 20px;
}
a{
  text-decoration: none;
  display: block;
}
header{
  width: 100%;
  height: 100px;
  background: #ddd;
}
.wrap{
  width: 1200px;
}
.logo{
  float: left;
  width: 250px;
  height: 100px;
}
.logo img{
  float: left;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-left: 25px;
}
.menu{
  float: right;
  width: 800px;
  height: 100px;
  z-index: 1;
}
#menu_bg{
  width: 1200px;
  height: 160px;
  position: absolute;
  display: none;
  z-index: 2;
  top: 100px;
  background-color: #bbb;
}
.navi{
  float: right;
  margin-top: 50px;
  margin-right: 0px;
}
.navi>li{
  float: left;
}
.navi>li>a{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #333;
  color: #fff;
}
.navi>li>a:hover{
  background-color: #006478;
}
.submenu{
  width: 200px;
  height: 160px;
  position: absolute;
  display: none;
  z-index: 3;
  background-color: #bbb;
}
.submenu>li>a{
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #bbb;
  color: #333;
}
.submenu>li>a:hover{
  background-color: #006478;
}
.bodywrap{
  float: left;
  width: 1200px;
  height: 500px;
}
.imgslide{
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.imgslide>a{
  display: block;
  position: absolute;
}
.imgslide span{
  width: 300px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  left: 40%;
  top: 40%;
  position: absolute;
  background-color: rgba(40,40,40,0.4);
}
.contents{
  width: 1200px;
  height: 200px;
}
.notice{
  float: left;
  width: 400px;
  height: 200px;
}
.tab{
  float: left;
  width: 400px;
}
.notice h4{
  float: left;
  height: 50px;
  line-height: 50px;
}
.notice>div{
  float: left;
  width: 380px;
  border-bottom-color: #fa9600;
  border-bottom-style: solid;
  margin-left: 10px;
}
.notice ul{
  float: left;
  width: 400px;
}
.notice li{
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.notice li span{
  float: right;
}
.notice li:nth-child(2n){
  background-color: #fa9600;
}
.notice li:hover{  
	font-weight:bold;
}
.gallery{
  float: left;
  width: 400px;
  height: 200px;
}
.gallery h4{
  float: left;
  height: 50px;
  line-height: 50px;
}
.gallery>div{
  width: 380px;
  border-bottom-color: #fa9600;
  border-bottom-style: solid;
  margin-left: 10px;
}
.gallery ul li{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.gallery img{
  width: 100px;
  height: 100px;
  padding: 10px;
}
.gallery li:hover{
  opacity: 0.5;
}
.shortcut{
  float: right;
  width: 400px;
  height: 200px;
}
.shortcut img{
  float: right;
  width: 400px;
  height: 180px;
  margin-left: 10px;
  margin-top: 10px;
}
.sctext{
  float: right;
  width: 300px;
  height: 30px;
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background-color: rgba(40,40,40,0.4);
  margin-top: 80px;
  margin-left: 50px;
}
.sctext:hover{
  opacity: 0.5;
}
#modal{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  display: none;
}
#modal.active{
  display: block;
}
.modal_up{
  width: 400px;
  height: 300px;
  position: fixed;
  left: 30%;
  top: 20%;
  background-color: #fff;
}
.uptitle{
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
}
.upbody{
  padding: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.btn{
  width: 80px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  background: #eee;
  right: 10px;
  bottom: 10px;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #ddd;
}
.copy{
  float: left;
  width: 550px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}
.site{
  float: right;
  width: 400px;
  height: 100px;
}
.sns{
  float: left;
  width: 400px;
  height: 50px;
}
.sns img{
  float: left;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.familysite{
  width: 400px;
  height: 50px;
}
.familysite select{
float: left;
  height: 20px;
  width: 200px;
  margin-top: 10px;
}