*{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333;
}
body{
  width: 1000px;
  height: 650px;
  background-color: #fff;
  font-size: 20px;
}
a{
  text-decoration: none;
  display: block;
}
header{
  float: left;
  position: absolute;
}
.top{
  float: left;
  width: 200px;
  height: 650px;
}
.logo{
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu{
float: left;
top: 100px;
left: 10px;
position: absolute;
text-align: center;
z-index: 1;
}
.navi>li{
  float: left;
  width: 180px;
}
.navi>li>a{
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
}
.submenu{
  float: left;
  width: 180px;
  height: 100%;
  left: 180px;
  top: 0px;
  position: absolute;
  background-color: #ccc;
  z-index: 1;
  display: none;
}
.submenu>li>a{
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ccc;
  color: #fff;
}
.submenu>li>a:hover{
  background-color: #999;
  color: #ff0;
}
.imgslide{
  float: right;
  width: 800px;
  height: 350px;
  position: relative;
}
.imgslide>a{
display: block;
position: absolute;
}
.imgslide span{
  width: 160px;
  text-align: center;
  top: 45%;
  left: 40%;
  font-weight: bold;
  background-color: rgba(200,200,200,0.6);
  position: absolute;
  color: #fff;
}
.contents{
  float: right;
  width: 800px;
  height: 200px;
}
.notice{
  float: left;
  width: 300px;
  height: 200px;
}
.tab{
  float: left;
  width: 300px;
}
.notice h4{
  float: left;
  height: 50px;
  line-height: 30px;
  font-size: 14px;
}
.notice ul{
  float: left;
  width: 280px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.notice li span{
  float: right;
}
.notice li:hover{
  font-weight: bold;
}
.gallery{
  float: left;
  width: 300px;
  height: 200px;
}
.gallery h4{
  float: left;
  height: 50px;
  line-height: 30px;
}
.gallery ul li{
  float: left;
  padding: 10px;
  margin-top: 10px;
}
.gallery img{
  width: 80px;
  height: 80px;
}
.gallery img:hover{
  opacity: 0.5;
}
.shortcut{
  float: right;
  width: 200px;
  height: 200px;
}
.shortcut img{
  float: right;
  width: 180px;
  height: 180px;
  padding: 10px;
}
.sctext{
  width: 100px;
  font-weight: bold;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  margin-top: 85px;
  margin-left: 50px;
}
#modal{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
  display: none;  
}
#modal.active{
  display: block;
}
.modal_up{
  width: 400px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 20%;
  background-color: #fff;
}
.uptitle{
  margin-top: 30px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  font-size: 20px;
}
.upbody{
  padding: 30px;
  text-align: center;
  line-height: 30px;
  line-height: 30px;
}
.btn{
  width: 80px;
  height: 20px;
  right: 10px;
  bottom: 10px;
  background-color: #ccc;
  position: absolute;
  font-size: 15px;text-align: center;
}
footer{
  float: right;
}
.bottom{
  float: left;
  width: 800px;
  height: 100px;
}
.btlogo{
  float: left;
  width: 200px;
  height: 40px;
}
.btlogo img{
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
.copy{
  float: left;
  width: 400px;
  height: 100px;
  font-size: 14px;
  line-height: 100px;
  text-align: center;
}
.familysite{
  float: right;
  width: 200px;
  height: 100px;
}
.familysite select{
  float: right;
  width: 190px;
  height: 30px;
  margin-top: 20px;
  margin-right: 10px;
}