@charset "utf-8";
/* CSS Document*/

html, body {
  width: 1200px;
  font-size: 20px;
}

header {
  float: left;
  height: 100px;
  width: 1200px;
}

.top {
  float: left;
  height: 100px;
  width: 1200px;
}

.logo{
  float: left;
  height: 100px;
  width: 200px;
  background-color: #eeeeee;
}

nav {
  float: right;
}

.menu {
  float: right;
  width: 600px;
  background-color: #eeeeee;
}

.menu>li {
  float: right;
  width: 200px;
}

.imgslide {
  float: left;
  height: 350px;
  width: 1200px;
  background-color: #00ffff;
}

.contents {
  float: left;
  height: 200px;
  width: 1200px;
  background-color: #ff0000;
}

.notice {
  float: left;
  height: 200px;
  width: 400px;
}

.gallery {
  float: left;
  height: 200px;
  width: 400px;
}

.shortcut {
  float: left;
  height: 200px;
  width: 400px;
}

footer {
  float: left;
  height: 120px;
  width: 1200px;
  background-color: #eeeeee;
}

.copy {
  float: left;
  height: 120px;
  width: 800px;
}

.site {
  float: left;
  height: 120px;
  width: 400px;
  background-color: #ffff00;
}

.site>ul {
  float: left;
  width: 400px;
}

.site>ul>li {
  float: left;
  height: 60px;
  width: 400px;
}